/* App.css */

/* Light Mode Styles */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

.app-header {
    background-color: #061d34;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.app-header.dark-mode {
    background-color: #333;
    color: #ffffff;
}

/* Style for toolbar buttons */
.ql-toolbar button {
    border: 2px solid #000080; /* Dark Navy Blue */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Adjust button size */
    margin: 0 2px; /* Adds spacing between buttons */
    background-color: transparent; /* Transparent background */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

/* Add vertical line between buttons */
.ql-toolbar button:not(:last-child) {
    border-right: 2px solid #000080; /* Dark Navy Blue */
}

/* Hover effect for toolbar buttons */
.ql-toolbar button:hover {
    border-color: #0000cd; /* Medium Blue */
    background-color: #f0f8ff; /* Alice Blue */
}

/* Active (clicked) state for toolbar buttons */
.ql-toolbar button:active {
    border-color: #00008b; /* Darker Blue */
    background-color: #e0ffff; /* Light Cyan */
}

/* Focus state for toolbar buttons */
.ql-toolbar button:focus {
    outline: none; /* Removes default focus outline */
    border-color: #0000ff; /* Blue */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Blue glow */
}

/* Dark Mode Button */
.dark-mode-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dark-mode-button:hover {
    background-color: #555;
}

/* App.css */
.cursor-tooltip {
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    pointer-events: none;
    z-index: 9999;
  }
  
  